<div class="card">
    <img alt="Generic placeholder thumbnail" class="card-img-top" height="200" width="100%" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
        <div class="card-block">
            <h4 class="card-title">
                Card title
            </h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a class="btn btn-primary" href="#">
                Go somewhere
            </a>
        </div>
    </img>
</div>