<div class="jumbotron">
    <h1 class="display-6">
        Welcome.
    </h1>
    <section class="row">
    <div class="col-xs-6">
<fieldset class="form-group">
        <legend>
            Need Help?
        </legend>
        <div class="form-check">
            <label class="form-check-label">
                <input checked="" class="form-check-input" id="optionsRadios1" name="optionsRadios" type="radio" value="option1">
                    I'm having a hard time and need some support.
                </input>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="optionsRadios2" name="optionsRadios" type="radio" value="option2">
                    I'm currently homeless and need some where to stay.
                </input>
            </label>
        </div>
    </fieldset>
    </div>
    <div id="fillOut" class="col-xs-6 hidden-xs-up">
        <h5>Fill out the following information and a case manager will reach out to you in the next 15 minutes</h5>
        <form>
            <div class="form-group">
                <label>
                    First Name
                </label>
                <input class="form-control" id="firstName" placeholder="First" type="text"/>
            </div>
            <div class="form-group">
                <label>
                    Last Name
                </label>
                <input class="form-control" id="lastName" placeholder="Last" type="text"/>
            </div>
            <div class="form-group">
                <label>
                    Phone Number
                </label>
                <input class="form-control" id="phoneNumber" placeholder="Phone" type="tel"/>
            </div>
            <div class="form-group">
                
                <button class="btn btn-primary btn-lg" id="formSubmit" role="button">
                Submit
                </i>
            </a>
            </div>
        </form>
    </div>
</section>

    
    <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" id="formNext" role="button">
                Next
                <i aria-hidden="true" class="fa fa-chevron-right">
                </i>
            </a>
        </p>
    </hr>
</div>

<section class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning" role="alert">
            <h3 class="alert-heading">
                <i aria-hidden="true" class="fa fa-phone">
                </i>
                call us at: (314) 802-0700
            </h3>
            <p>
                Our mission, at its core, is to help individuals and families move from homelessness to independence in dignified, cost-effective and permanent ways.
            </p>
        </div>
    </div>
</section>