<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-sm-up" data-target="#navbar" data-toggle="collapse" type="button">
    </button>
    <a class="navbar-brand" href="/">
        <i class="fa fa-2x fa-home"></i>
    </a>
    <div id="navbar">
        <nav class="nav navbar-nav float-xs-right">
            <a class="nav-item nav-link" href="/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
        </nav>
        <form class="float-xs-left">
            <input class="form-control" placeholder="Search..." type="text">
            </input>
        </form>
    </div>
</nav>