<!-- Dropdown Structure -->
<ul class="dropdown-content" id="dropdownBrick">
    <li>
        <a href="#!">
            Search
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#!">
            Acme
        </a>
    </li>
    <li>
        <a href="#!">
            Boral
        </a>
    </li>
    <li>
        <a href="#!">
            Belden
        </a>
    </li>
</ul>
<ul class="dropdown-content" id="dropdownRock">
    <li>
        <a href="#!">
            Search
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#!">
            ElDorado
        </a>
    </li>
    <li>
        <a href="#!">
            Boral
        </a>
    </li>
</ul>
<ul class="dropdown-content" id="dropdownTile">
    <li>
        <a href="#!">
            Search
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#!">
            Daltile
        </a>
    </li>
    <li>
        <a href="#!">
            American Olean
        </a>
    </li>
</ul>
<ul class="dropdown-content" id="dropdownRetail">
    <li>
        <a href="#!">
            Search
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#!">
            Lowes
        </a>
    </li>
    <li>
        <a href="#!">
            Home Depot
        </a>
    </li>
    <li>
        <a href="#!">
            Menards
        </a>
    </li>
</ul>
<ul class="dropdown-content" id="dropdownPaint">
    <li>
        <a href="#!">
            Search
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#!">
            Valspar
        </a>
    </li>
    <li>
        <a href="#!">
            Sherwin-Williams
        </a>
    </li>
    <li>
        <a href="#!">
            Olympic
        </a>
    </li>
</ul>
<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo grey-text text-lighten-5" href="#" id="logo-container">
            masonr
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button grey-text text-lighten-5" data-activates="dropdownBrick" href="#!">
                    Brick
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
            <li>
                <a class="dropdown-button grey-text text-lighten-5" data-activates="dropdownRock" href="#!">
                    Rock
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
            <li>
                <a class="dropdown-button grey-text text-lighten-5" data-activates="dropdownTile" href="#!">
                    Tile
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
            <li>
                <a class="dropdown-button grey-text text-lighten-5" data-activates="dropdownRetail" href="#!">
                    Retail
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
            <li>
                <a class="dropdown-button grey-text text-lighten-5" data-activates="dropdownPaint" href="#!">
                    Paint
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="nav-mobile">
            <li>
                <a href="#">
                    Navbar Link
                </a>
            </li>
        </ul>
        <a class="button-collapse" data-activates="nav-mobile" href="#">
            <i class="material-icons">
                menu
            </i>
        </a>
    </div>
</nav>
