<div class="col-xs-2 sidebar">
    <ul class="nav nav-sidebar list-group text-xs-center">
        <li class="{{{dashboard}}}">
            <a class="list-group-item list-group-item-action" href="/dashboard">
                <i aria-hidden="true" class="fa fa-2x fa-dashboard">
                </i>
                <br/>
                <span>
                    Dashboard
                </span>
            </a>
        </li>
        {{#isProvider}}
        <li class="{{{prevention}}}">
            <a class="list-group-item list-group-item-action" href="/cases">
                <i aria-hidden="true" class="fa fa-2x fa-users">
                </i>
                <br/>
                <span>
                    Cases
                </span>
            </a>
        </li>
        {{/isProvider}}
        <li class="{{{shelter}}}">
            <a class="list-group-item list-group-item-action" href="/shelter">
                {{#isProvider}}
                <i aria-hidden="true" class="fa fa-2x fa-building">
                </i>
                {{/isProvider}}
                {{#isClient}}
                <i aria-hidden="true" class="fa fa-2x fa-bed">
                </i>
                {{/isClient}}
                <br/>
                <span>
                    Beds
                </span>
            </a>
        </li>
        <li class="{{{referral}}}">
            <a class="list-group-item list-group-item-action" href="/referral">
                <i aria-hidden="true" class="fa fa-2x fa-user-md">
                </i>
                <br/>
                <span>
                    Resources
                </span>
            </a>
        </li>
        <li class="{{{continuum}}}">
            <a class="list-group-item list-group-item-action" href="/continuum">
                <i aria-hidden="true" class="fa fa-2x fa-university">
                </i>
                <br/>
                <span>
                    Continuum Members
                </span>
            </a>
        </li>
        {{#isProvider}}
        <li class="{{{analytics}}}">
            <a class="list-group-item list-group-item-action" href="/analytics">
                <i aria-hidden="true" class="fa fa-2x fa-bar-chart">
                </i>
                <br/>
                <span>
                    Analytics
                </span>
            </a>
        </li>
        {{/isProvider}}
    </ul>
</div>