<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar list-group text-xs-center">
        <li class="{{{dashboard}}}">
            <a class="list-group-item list-group-item-action" href="/dashboard">
                <i aria-hidden="true" class="fa fa-3x fa-dashboard">
                </i>
                <br/>
                <span>
                    Dashboard
                </span>
            </a>
        </li>
        <li class="{{{prevention}}}">
            <a class="list-group-item list-group-item-action" href="/prevention">
                {{#isProvider}}
                <i aria-hidden="true" class="fa fa-3x fa-users">
                </i>
                {{/isProvider}}
                {{#isClient}}
                <i aria-hidden="true" class="fa fa-3x fa-user">
                </i>
                {{/isClient}}
                <br/>
                <span>
                    Prevention
                </span>
            </a>
        </li>
        <li class="{{{shelter}}}">
            <a class="list-group-item list-group-item-action" href="/shelter">
                {{#isProvider}}
                <i aria-hidden="true" class="fa fa-3x fa-building">
                </i>
                {{/isProvider}}
                {{#isClient}}
                <i aria-hidden="true" class="fa fa-3x fa-bed">
                </i>
                {{/isClient}}
                <br/>
                <span>
                    Shelter
                </span>
            </a>
        </li>
        <li class="{{{referral}}}">
            <a class="list-group-item list-group-item-action" href="/referral">
                <i aria-hidden="true" class="fa fa-3x fa-user-md">
                </i>
                <br/>
                <span>
                    Referral
                </span>
            </a>
        </li>
         <li class="{{{continuum}}}">
            <a class="list-group-item list-group-item-action" href="/continuum">
                <i class="fa fa-3x fa-university" aria-hidden="true"></i>
                </i>
                <br/>
                <span>
                    Continuum Members
                </span>
            </a>
        </li>
        
        {{#isProvider}}
        <li class="{{{analytics}}}">
            <a class="list-group-item list-group-item-action" href="/analytics">
                <i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i>
                <br/>
                <span>
                    Analytics
                </span>
            </a>
        </li>
        {{/isProvider}}
    </ul>
 </div>