<div class="col-sm-3 col-md-2 sidebar">
    {{#isProvider}}
    <ul class="nav nav-sidebar list-group text-xs-center">
        <li class="{{{dashboard}}}">
            <a class="list-group-item list-group-item-action" href="/dashboard">
                <i aria-hidden="true" class="fa fa-3x fa-dashboard">
                </i>
                <br/>
                <span>
                    Dashboard
                </span>
            </a>
        </li>
        <li class="{{{prevention}}}">
            <a class="list-group-item list-group-item-action" href="/prevention">
                <i aria-hidden="true" class="fa fa-3x fa-users">
                </i>
                <br/>
                <span>
                    Prevention
                </span>
            </a>
        </li>
        <li class="{{{shelter}}}">
            <a class="list-group-item list-group-item-action" href="/shelter">
                <i aria-hidden="true" class="fa fa-3x fa-building">
                </i>
                <br/>
                <span>
                    Shelter
                </span>
            </a>
        </li>
        <li class="{{{referral}}}">
            <a class="list-group-item list-group-item-action" href="/referral">
                <i aria-hidden="true" class="fa fa-3x fa-user-md">
                </i>
                <br/>
                <span>
                    Referral
                </span>
            </a>
        </li>
        <li class="{{{analytics}}}">
            <a class="list-group-item list-group-item-action" href="/analytics">
                <i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i>
                <br/>
                <span>
                    Analytics
                </span>
            </a>
        </li>
        
    </ul>
    {{/isProvider}}

    {{#isClient}}
    <ul class="nav nav-sidebar list-group text-xs-center">
        <li>
            <a class="list-group-item list-group-item-action" href="#">
                <i aria-hidden="true" class="fa fa-3x fa-user">
                </i>
                <br/>
                <span>
                    Prevention
                </span>
            </a>
        </li>
        <li class="active">
            <a class="list-group-item list-group-item-action" href="#">
                <i aria-hidden="true" class="fa fa-3x fa-bed">
                </i>
                <br/>
                <span>
                    Shelter
                </span>
            </a>
        </li>
        <li>
            <a class="list-group-item list-group-item-action" href="#">
                <i aria-hidden="true" class="fa fa-3x fa-user-md">
                </i>
                <br/>
                <span>
                    Referral
                </span>
            </a>
        </li>
    </ul>
    {{/isClient}}
</div>