<ul class="timeline">
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://e2e-test.localhost.com:3000');
  socket.on('message', function (data) {
    console.log(data);
    var className = data.author.type === 'client' ? '' : 'timeline-inverted';
    $('.timeline').prepend('<li class="' + className + '"><div class="timeline-badge"><i aria-hidden="true" class="fa fa-envelope-o"></i></div><div class="timeline-panel"><div class="timeline-body"><p>' + data.message + '</p></div><p><small class="text-muted"><i aria-hidden="true" class="fa fa-clock-o"></i>' + data.created + '</small></p></div></li>')
  });
</script>
