<!DOCTYPE html>
<html>
    <head>
    	<title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!-- Compiled and minified CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet"/>
        <link href="/css/wppt.css" rel="stylesheet"/>
        <link href="/css/signup.css" rel="stylesheet"/>
        <!--Let browser know website is optimized for mobile-->
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    </head>
        {{! Import the contents of nav.html from partials}}
     	{{> nav}}
     	
     	{{> container_one}}
		{{> container_two}}
		{{> container_three}}
		{{> container_four}}
		{{> container_five}}

        
        {{{content}}}

        {{> footer}}

        <!--Import jQuery before materialize.js-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript">
        </script>
        <!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js">
  		</script>

        <script src="/js/test.js">
        </script>
    </body>
</html>