{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="col-xs-12">
                    <canvas height="400" id="myChart" width="400">
                    </canvas>
                </div>
            </section>

            <section class="row">
                <div class="col-xs-6">
                    <canvas height="400" id="pieChart" width="400">
                    </canvas>
                </div>
                <div class="col-xs-6">
                    <canvas height="400" id="doughnutChart" width="400">
                    </canvas>
                </div>
            </section>

            <section class="row">
                <div class="col-xs-6">
                    <canvas height="400" id="polarArea" width="400">
                    </canvas>
                </div>
            </section>

            <section class="row">
                <div class="col-xs-12">
                    <canvas height="400" id="bubbleChart" width="400">
                    </canvas>
                </div>
            </section>


        </div>
    </div>
</div>