{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="col-xs-12">
                    <h2>Case Worker</h2>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-6">
                    <h5>Housing Loss Prevention Percent</h5>
                    <canvas height="400" id="chartOne" width="400">
                    </canvas>
                </div>
                <div class="col-xs-6">
                    <h5>Average Time To Perm Placement</h5>
                    <canvas height="400" id="chartTwo" width="400">
                    </canvas>
                </div>
            </section>
            <hr />
            <section class="row">
                <div class="col-xs-12">
                    <h2>Provider Management</h2>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-6">
                    <h5>Housing Loss Prevention % By Case Work</h5>
                    <canvas height="400" id="chartThree" width="400">
                    </canvas>
                </div>
                <div class="col-xs-6">
                    <h5>Client Satisfaction Rating By Month</h5>
                    <canvas height="400" id="chartFour" width="400">
                    </canvas>
                </div>
            </section>
            <hr />
            <section class="row">
                <div class="col-xs-12">
                    <h2>CoC Board</h2>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-6">
                    <h5>Cost Efficiency Rating By Provider</h5>
                    <canvas height="400" id="chartFive" width="400">
                    </canvas>
                </div>
                <div class="col-xs-6">
                    <h5>Client Satisfaction Rating By Provider</h5>
                    <canvas height="400" id="chartSix" width="400">
                    </canvas>
                </div>
            </section>
            <hr />

        </div>
    </div>
</div>