{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="page-header">
                    <h1 id="timeline">
                        Continuum Members
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Continuum Members
                    </li>
                </ol>
                <div class="col-xs-12">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-filter">
                            </i>
                            Filter
                        </h3>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" data-action="filter" data-filters="#continuum-table" id="task-table-filter" placeholder="Continuum Members" type="text"/>
                    </div>
                    <table class="table" id="continuum-table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Link
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Almost Home
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.almosthomestl.org/">
                                        [www.almosthomestl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    BJC Behavioral Health
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.bjc.org">
                                        [http://www.bjc.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bridgeway Behavioral Health
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.bridgewaybh.com/">
                                        [www.bridgewaybh.com]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catholic Charities Housing Resource Center
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ccstl.org/">
                                        [www.ccstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catholic Family Services
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.cfsstl.org/">
                                        [www.cfsstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Center for Women in Transition
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.cwitstl.org/">
                                        [www.cwitstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Covenant House of Missouri
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.covenanthousemo.org/">
                                        [www.covenanthousemo.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Doorways
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.doorwayshousing.org/">
                                        [www.doorwayshousing.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Employment Connection
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.employmentstl.org/">
                                        [www.employmentstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Equal Housing Opportunity Council
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ehocstl.org/">
                                        [www.ehocstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Family Care Health Center
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.familycarehealthcenter.org/">
                                        [www.familycarehealthcenter.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gateway 180
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.gateway180.org/">
                                        [www.gateway180.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Grace Hill
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.gracehill.org/">
                                        [www.gracehill.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Grace & Peace
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.graceandpeacefellowship.org/">
                                        [www.graceandpeacefellowship.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Haven of Grace
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.havenofgracestl.org/">
                                        [www.havenofgracestl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Humanitri
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.humanitri.org/">
                                        [www.humanitri.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    International Institute
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.iistl.org/">
                                        [www.iistl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Legal Services of Eastern Missouri
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.lsem.org/">
                                        [www.lsem.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lydia's House
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.lydiashouse.org/">
                                        [www.lydiashouse.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Missouri Department of Mental Health
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.dmh.missouri.org/ada/housing/shelterpluscare.htm">
                                        [www.dmh.missouri.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Missouri Housing Development Commission (MHDC)
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.mhdc.com/">
                                        [www.mhdc.com]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Missouri Probation & Parole
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.doc.mo.gov/">
                                        [www.doc.mo.gov]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Municipal Information Systems, Inc.
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.misi.org/">
                                        [www.misi.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Neighborhood Stabilization
                                </td>
                                <td>
                                    <a class="btn btn-link" href="https://www.stlouis-mo.gov/government/departments/public-safety/neighborhood-stabilization-office/index.cfm">
                                        [https://www.stlouis-mo.gov]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Our Lady's Inn
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ourladysinn.org/">
                                        [www.ourladysinn.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Paraquad
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.paraquad.org/">
                                        [www.paraquad.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Peter &Paul; Community Services, Inc.
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ppcsinc.org/">
                                        [www.ppcsinc.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Places for People (formerly Community Alternatives)
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.community-alternatives.org/">
                                        [www.community-alternatives.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Preferred Family Healthcare, Inc.
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.pfh.org/">
                                        [www.pfh.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <a class="btn btn-link" href="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Queen of Peace
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.qopcstl.org/">
                                        [www.qopcstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Redevelopment Opportunities for Women
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.row-stl.org/">
                                        [www.row-stl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Shalom House
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.shalomhousestl.org/">
                                        [www.shalomhousestl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Social Security Administration
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.socialsecurity.gov/">
                                        [www.socialsecurity.gov]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Society of St. Vincent de Paul
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.svdpstlouis.org/what-we-do-2/housing/">
                                        [www.svdpstlouis.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Francis Xavier
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.collegechurch.slu.edu/">
                                        [www.collegechurch.slu.edu]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. John's Mercy Neighborhood Ministry
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stjohnsmercy.org/services/neighborhoodministry">
                                        [www.stjohnsmercy.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis Agency on Training & Education (SLATE)
                                </td>
                                <td>
                                    <a class="btn btn-link" href="#/government/departments/slate/index.cfm">
                                        [government/departments/slate/index.cfm]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis City Health Department
                                </td>
                                <td>
                                    <a class="btn btn-link" href="">
                                        [/government/departments/health/index.cfm]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis Housing Authority
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.slha.org/">
                                        [www.slha.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis Empowerment Center
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stlempowerment.org/">
                                        [www.stlempowerment.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis Office of DD Resources
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stldd.org/">
                                        [www.stldd.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Louis Transitional Hope House
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.hopehousestl.org/">
                                        [www.hopehousestl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Martha's Hall
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.saintmarthas.org/">
                                        [www.saintmarthas.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    St. Patrick Center
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stpatrickcenter.org/">
                                        [www.stpatrickcenter.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Stepping Into the Light
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.netministries.org/">
                                        [www.netministries.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The Bridge
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.bridgestl.org/">
                                        [www.bridgestl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The Salvation Army
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stl-salvationarmy.org/">
                                        [www.stl-salvationarmy.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    The Women's Safe House
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.twsh.org/">
                                        [www.twsh.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    United Way
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stl.unitedway.org/">
                                        [www.stl.unitedway.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Urban League of Metropolitan St. Louis
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ulstl.org/">
                                        [www.ulstl.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Urban Strategies
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.urbanstrategiesinc.org/">
                                        [www.urbanstrategiesinc.org]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Veteran's Administration Medical Center
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.stlouis.va.gov/">
                                        [www.stlouis.va.gov]
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    YWCA
                                </td>
                                <td>
                                    <a class="btn btn-link" href="http://www.ywcastlouis.org/">
                                        [www.ywcastlouis.org]
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
