{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="page-header">
                    <h1 id="timeline">
                        Single Prevention
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Library
                    </li>
                </ol>
                <div class="col-xs-12 col-sm-3 col-sm-3">
                    {{> card-block-list}}
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-9">
                    {{> timeline}}
                </div>
            </section>
        </div>
    </div>
</div>