{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="col-xs-8">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th>
                                        <span>
                                            User
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            Created
                                        </span>
                                    </th>
                                    <th class="text-center">
                                        <span>
                                            Status
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            Email
                                        </span>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="" src="http://bootdey.com/img/Content/user_1.jpg">
                                            <a class="user-link" href="#">
                                                Full name 1
                                            </a>
                                            <span class="user-subhead">
                                                Member
                                            </span>
                                        </img>
                                    </td>
                                    <td>
                                        2013/08/12
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default">
                                            pending
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#">
                                            marlon@brando.com
                                        </a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link danger" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" src="http://bootdey.com/img/Content/user_3.jpg">
                                            <a class="user-link" href="#">
                                                Full name 2
                                            </a>
                                            <span class="user-subhead">
                                                Admin
                                            </span>
                                        </img>
                                    </td>
                                    <td>
                                        2013/08/12
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">
                                            Active
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#">
                                            marlon@brando.com
                                        </a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link danger" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" src="http://bootdey.com/img/Content/user_2.jpg">
                                            <a class="user-link" href="#">
                                                Full name 3
                                            </a>
                                            <span class="user-subhead">
                                                Member
                                            </span>
                                        </img>
                                    </td>
                                    <td>
                                        2013/08/12
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-danger">
                                            inactive
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#">
                                            marlon@brando.com
                                        </a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                        <a class="table-link danger" href="#">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x">
                                                </i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse">
                                                </i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="error-notice">
                        <div class="oaerror danger">
                            <strong>
                                Error
                            </strong>
                            - You provided a wrong username/password
                        </div>
                        <div class="oaerror warning">
                            <strong>
                                Error
                            </strong>
                            - You left a field Blank
                        </div>
                        <div class="oaerror info">
                            <strong>
                                Error
                            </strong>
                            - Please Select a Different Username
                        </div>
                        <div class="oaerror success">
                            <strong>
                                Yeppi
                            </strong>
                            - You are successfully registered. Please login.
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>