{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        <div class="page-header">
                    <h1 id="timeline">
                        Cases
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cases
                    </li>
                </ol>
            <div class="table-responsive">
                <table class="table user-list">
                    <thead>
                        <tr>
                            <th>
                                <span>
                                    Type
                                </span>
                            </th>
                            <th>
                                <span>
                                    Created
                                </span>
                            </th>
                            <th class="text-center">
                                <span>
                                    Status
                                </span>
                            </th>
                            <th>
                                <span>
                                    Phone
                                </span>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
  
    </div>
</div>

<script>
$.ajax({
  url: '/users'
}).done(function(results) {
  results.forEach(function(row) {
    $('.table.user-list tbody').append('<tr> <td> <a class="user-link" href="/cases/' + row._id + '"><span class="user-subhead"> Client </span> </a> </img> </td> <td>' + row.created + '</td> <td class="text-center"> <span class="label label-default"> pending </span> </td> <td> <a href="/cases/' + row._id + '">' + row.phone + '</a> </td> <td style="width: 20%;"> <a class="table-link" href="#"> <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"> </i> <i class="fa fa-search-plus fa-stack-1x fa-inverse"> </i> </span> </a> <a class="table-link" href="#"> <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"> </i> <i class="fa fa-pencil fa-stack-1x fa-inverse"> </i> </span> </a> <a class="table-link danger" href="#"> <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"> </i> <i class="fa fa-trash-o fa-stack-1x fa-inverse"> </i> </span> </a> </td> </tr>')
  });
});
</script>