{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="page-header">
                    <h1 id="timeline">
                        Resources
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Resources
                    </li>
                </ol>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-filter">
                                </i>
                                Filter
                            </h3>
                        </div>
                        <div class="panel-body">
                            <input class="form-control" data-action="filter" data-filters="#task-table" id="task-table-filter" placeholder="Filter Tasks" type="text"/>
                        </div>
                        <table class="table table-hover" id="task-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Service
                                    </th>
                                    <th>
                                        Services
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Humanitri
                                    </td>
                                    <td>
                                        Transitional Housing
                                    </td>
                                    <td>
                                        314.772.7720
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Adult Basic Education, GED and Fast Track GED
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Assertive Community Treatment
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        BEGIN New Venture Center
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Building Employment Skills for Tomorrow
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Building Partners
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Casserole
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        City Seeds Therapeutic Job Training Program
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Client Child Center
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Client Welcome Center
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Employment Program Partners
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Homeless Employment
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        13
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Homeless Veterans Reintegration Program
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        14
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Independent Living Skills
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        15
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        McMurphy’s Cafe
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        16
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Mobile Outreach
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        17
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Neighborhood Support
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        18
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Project HERO
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        19
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Project Protect Supportive Housing
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Rosati Assertive Community Treatment
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        21
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Rosati Group Home
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        22
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Rosati Semi-Independent Apartments
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        23
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Shamrock Club Day Treatment
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        24
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        St. Louis Stamping Lofts
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        25
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Supportive Services for Veteran Families
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        26
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Women’s Night
                                    </td>
                                    <td>
                                        314.802.0700
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="our-team">
                        <img alt="" src="img/img-2.jpg">
                            <div class="over-layer">
                                <div class="team-content">
                                    <h3 class="title">
                                        Kristiana
                                    </h3>
                                    <span class="post">
                                        St. Patrick Center
                                    </span>
                                    <p class="description">
                                        At St. Patrick Center, we’re one of Missouri’s largest providers of housing, employment and health opportunities for people who are homeless or at risk of becoming homeless. 
                                    </p>
                                </div>
                            </div>
                            <ul class="social-links">
                                <li>
                                    <a class="fa fa-twitter" href="#">
                                    </a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin" href="#">
                                    </a>
                                </li>
                                <li>
                                    <a class="fa fa-facebook" href="#">
                                    </a>
                                </li>
                                <li>
                                    <a class="fa fa-google-plus" href="#">
                                    </a>
                                </li>
                            </ul>
                        </img>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
