{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="page-header">
                    <h1 id="timeline">
                        Referrals
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Referrals
                    </li>
                </ol>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-filter"></i>
                                Search Referrals
                            </h3>
                            
                        </div>
                        <div class="panel-body">
                            <input class="form-control" data-action="filter" data-filters="#task-table" id="task-table-filter" placeholder="Filter Tasks" type="text"/>
                        </div>
                        <table class="table table-hover" id="task-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Task
                                    </th>
                                    <th>
                                        Assignee
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Site Wireframes
                                    </td>
                                    <td>
                                        John Smith
                                    </td>
                                    <td>
                                        in progress
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Mobile Landing Page
                                    </td>
                                    <td>
                                        Kilgore Trout
                                    </td>
                                    <td>
                                        completed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Add SEO tags
                                    </td>
                                    <td>
                                        Bob Loblaw
                                    </td>
                                    <td>
                                        failed qa
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        Migrate to Bootstrap 3
                                    </td>
                                    <td>
                                        Emily Hoenikker
                                    </td>
                                    <td>
                                        in progress
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        Update jQuery library
                                    </td>
                                    <td>
                                        Holden Caulfield
                                    </td>
                                    <td>
                                        deployed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        Issues in IE7
                                    </td>
                                    <td>
                                        Jane Doe
                                    </td>
                                    <td>
                                        failed qa
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        Bugs from Sprint 14
                                    </td>
                                    <td>
                                        Kilgore Trout
                                    </td>
                                    <td>
                                        completed
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        <div class="col-xs-12 col-sm-9 col-md-6">
            <div class="our-team">
                <img src="img/img-2.jpg" alt="">
                <div class="over-layer">
                    <div class="team-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Provider</span>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam debitis eligendi excepturi facere laudantium nulla sint sit ut voluptatibus.</p>
                    </div>
                </div>
                <ul class="social-links">
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                </ul>
            </div>
        </div>

            </section>
        </div>

    </div>
</div>
