{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="page-header">
                    <h1 id="timeline">
                        Referrals
                    </h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Referrals
                    </li>
                </ol>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-filter"></i>
                                Search Referrals
                            </h3>
                            
                        </div>
                        <div class="panel-body">
                            <input class="form-control" data-action="filter" data-filters="#task-table" id="task-table-filter" placeholder="Filter Tasks" type="text"/>
                        </div>
                        <table class="table table-hover" id="task-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Service
                                    </th>
                                    <th>
                                        Services
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Humanitri
                                    </td>
                                    <td>
                                        Transitional Housing 
                                    </td>
                                    <td>
                                        314.772.7720
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Adult Basic Education, GED and Fast Track GED
                                    </td>
                                    <td>
                                        314-802-0700
                                    </td>
                                    <td>
                                        These education programs enhance the long-term employment options of clients and improve their chances of entering college or trade school....
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        Assertive Community Treatment
                                    </td>
                                    <td>
                                        314-802-0700
                                    </td>
                                    <td>
                                        This program treats clients in the community, providing mental health, psychiatric, employment and financial guidance services. ...
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        314-802-0700
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                   <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        St. Patrick Center
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        <div class="col-xs-12 col-sm-9 col-md-6">
            <div class="our-team">
                <img src="img/img-2.jpg" alt="">
                <div class="over-layer">
                    <div class="team-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Provider</span>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam debitis eligendi excepturi facere laudantium nulla sint sit ut voluptatibus.</p>
                    </div>
                </div>
                <ul class="social-links">
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                </ul>
            </div>
        </div>

            </section>
        </div>

    </div>
</div>
