{{> nav}}
<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <section class="row">
                <div class="col-xs-12">
                    <h1>
                        Create Shelter
                    </h1>
                </div>
            </section>
            <section class="row">
                <div class="col-md-6">
                    <h3 class="dark-grey">
                        Registration
                    </h3>
                    <div class="form-group col-lg-12">
                        <label>
                            Facility Name
                        </label>
                        <input class="form-control" id="" name="" type="" value="">
                        </input>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>
                            Beds
                        </label>
                        <input class="form-control" id="" name="" type="" value="">
                        </input>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>
                            Password
                        </label>
                        <input class="form-control" id="" name="" type="password" value="">
                        </input>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>
                            Repeat Password
                        </label>
                        <input class="form-control" id="" name="" type="password" value="">
                        </input>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>
                            Email Address
                        </label>
                        <input class="form-control" id="" name="" type="" value="">
                        </input>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>
                            Location
                        </label>
                        <input class="form-control" id="" name="" type="" value="">
                        </input>
                    </div>
                    <div class="col-sm-6">
                        <input class="checkbox" type="checkbox"/>
                        Sign up for our newsletter
                    </div>
                    <div class="col-sm-6">
                        <input class="checkbox" type="checkbox"/>
                        Send notifications to this email
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="dark-grey">
                        Terms and Conditions
                    </h3>
                    <p>
                        By clicking on "Register" you agree to The Company's' Terms and Conditions
                    </p>
                    <p>
                        While rare, prices are subject to change based on exchange rate fluctuations - 
					should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
                    </p>
                    <p>
                        Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
                    </p>
                    <p>
                        Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
                    </p>
                    <button class="btn btn-primary" type="submit">
                        Register
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
